# Homework Pandas

### Add your name and student id here
### Nick Pranske, 113500528

#### 1. (0.5 points) Import Pandas package and load the data from EmissionsData.csv as a dataframe: em_df.

In [1]:
import pandas as pd
em_df=pd.read_csv('EmissionsData.csv')

#### 2. (1 points) Sort the dataframe using sort_values() function by column "Emission" in the Descending order. Show the top 5 records.

<img style="600px;" src="https://juxinglong.github.io/static/img/ML/hw_pd_2.png">

In [2]:
em_df.sort_values(["Emission"],ascending=[False]).head()

     Year              Country      Continent   Emission
592  2008                Qatar           Asia  48.601620
593  2009                Qatar           Asia  44.836401
595  2011                Qatar           Asia  44.018926
594  2010                Qatar           Asia  42.639076
710  2010  Trinidad And Tobago  North America  38.337841

#### 3.
#### 3.1 (1 points) Use groupby() function to group the em_df by "Year".
#### 3.2 (2 points) Get the group "2011" using get_group() function and sort the 2011 group dataframe by "Emission" in ascending order. Show the first 5 row.
#### 3.2 (0.5 points) Use mean() function to get average emission of all countries in year 2011.

<img style="600px;" src="https://juxinglong.github.io/static/img/ML/hw_pd_3.png">

Average: 4.904900274527919

In [3]:
# 3.1
em_df_grouped=em_df.groupby(["Year"])

In [4]:
# 3.2
em_df_grouped.get_group(2011).sort_values(['Emission'],ascending=[True]).head()

     Year           Country Continent  Emission
51   2011           Burundi    Africa  0.021350
683  2011              Chad    Africa  0.043830
779  2011  Dem Rep Of Congo    Africa  0.050303
639  2011           Somalia    Africa  0.058707
607  2011            Rwanda    Africa  0.062874

In [5]:
# 3.3
em_df_grouped.get_group(2011)["Emission"].mean()

4.904900274527923

#### 4.
#### 4.1 (2.5 points) Find rows meeting the conditions: (in Year 2010 and in Continent Europe and Emission>2). Sort the result dataframe by "Emission" in descending order. Show the first 5 row.
#### 4.2 (0.5 points) Calculate the average emission of the above result dataframe.

<img style="600px;" src="https://juxinglong.github.io/static/img/ML/hw_pd_4.png">

Average: 7.4887038956

In [6]:
# 4.1
em_df_filtered=em_df[(em_df["Year"]==2010)&(em_df["Continent"]=="Europe")&(em_df["Emission"]>2)].sort_values(["Emission"],ascending=[False])
em_df_filtered.head()

     Year        Country Continent   Emission
434  2010     Luxembourg    Europe  21.635136
226  2010        Estonia    Europe  13.773197
246  2010  Faroe Islands    Europe  12.986678
534  2010         Norway    Europe  11.616193
234  2010        Finland    Europe  11.530840

In [7]:
# 4.2
em_df_filtered["Emission"].mean()

7.488703895600001

#### 5.
#### 5.1 (1.5 points) In em_df, create a new column, "Emission10PMore". The value in this column will be 10% more than the corresponding value in the orignal "Emission" column.
#### 5.2 (0.5 points) Sort the result dataframe by Emission10PMore in ascending order and show the first 5 rows.

<img style="600px;" src="https://juxinglong.github.io/static/img/ML/hw_pd_5.png">

In [8]:
# 5.1
em_df["Emission10PMore"]=em_df["Emission"]*1.1

In [9]:
# 5.2
em_df.sort_values(["Emission10PMore"],ascending=[True]).head()

     Year  Country Continent  Emission  Emission10PMore
50   2010  Burundi    Africa  0.020542         0.022596
49   2009  Burundi    Africa  0.020868         0.022954
51   2011  Burundi    Africa  0.021350         0.023485
48   2008  Burundi    Africa  0.021615         0.023777
681  2009     Chad    Africa  0.042689         0.046958