## MIT5032 Python 2
Homework Python Basics

## Nick Pranske, 113500528

### Datatypes

#### 1. (1 points). Convert a double to an integer (trim the decimal part)
You should get an integer 26

In [6]:
d1=26.6999

In [7]:
# Your answer here
d1 = int(d1)
print(d1)

26

#### 2. (1 points). Convert a double to and integer (round)
You should get an integer 27

In [8]:
d1=26.6999

In [9]:
# Your answer here
d1 = round(d1)
print(d1)

27

#### 3. (1.5 points). Interpolate a string
Interpolate the variable values, age and weight, into a string using **f"{}"**
You should get a string like this "The age is 20 and the weight is 130.30"

In [10]:
age=20
weight=130.3

In [12]:
# Your answer here
str = f"The age is {age} and the weight is {weight}"
print(str)

The age is 20 and the weight is 130.3

#### 4. (2 points). List Comprehesion
Use list comprehesion to create a dictionary list based on the age list
You should get a new list like this
[{'age': 23}, {'age': 45}, {'age': 12}, {'age': 26}]

In [18]:
ageList=[23,45,12,26]

In [19]:
dict = [{"age": age} for age in ageList]
print(dict)

[{'age': 23}, {'age': 45}, {'age': 12}, {'age': 26}]

#### 5. (1.5 points). Dictionary
Add new fields to the following dictionary, so you will get a new dictionary like this
{'age': 23, 'name': 'aiden', 'weight': 136.6}

You could not define a new dictionary stu, like
stu={'age': 23, 'name': 'aiden', 'weight': 136.6}

You can only add the new fields to the current stu dict

In [20]:
stu={"age":23,} #

In [21]:
# Your answer here
stu["name"] = "aiden"
stu["weight"] = 136.6
print(stu)

{'age': 23, 'name': 'aiden', 'weight': 136.6}

#### 6. (1 points). Use * operator to create a list like this
[2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

In [23]:
# Your answer here
list = [2,3]*5
print(list)

[2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

#### 7. (2 points). Use for loop and range to print out odd numbers from 3 to 100, but skip the numbers 13,15,35,37,91
You will get a list of numbers like this:
3
5
7
9
11
17
19
21
23
25
27
29
31
33
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
93
95
97
99

In [25]:
# Your answer here
exclusions = [13,15,35,37,91]
for i in range(3,100,2):
    if i not in exclusions:
        print(i)

3
5
7
9
11
17
19
21
23
25
27
29
31
33
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
93
95
97
99